html 
    head 
        title Books
body 
    include ./userheaders  
    br
    br   
    strong Search
    br
    |Book Name: 
    input(type="text",id="bName")
    |Author name: 
    input(type="text",id="aName")
    br
    |ISBN: 
    input(type="text",id="isbnBook")
    |Genre: 
    input(type="text",id="genreBook")
    br
    button(type="button",id="search") Search
    br

    strong List Of Books
    br
    div#bookList
        each book in books
            input(type='checkbox',name=book,id=book.bookname,class="search") 
            a(for=book.isbn , href="/books/"+book.isbn ,id=book.isbn ) #{book.bookname}
            br
    br
    button(type="button",id="addCart") Add to cart
    script(src="../search.js")