html 
    head 
        title Books
body 
    include ./userheaders  
    br
    strong Search: 
    input(type="text",id="search")
    br    
    button(type="button",id="searchB") Search
    br
    br
    strong List Of Books
    br
    div#bookList
        each book in books
            input(type='checkbox',name=book,id=book.bookname,class="search") 
            a(for=book.isbn , href="/books/"+book.isbn ,id=book.isbn ) #{book.bookname}
            br
    br
    button(type="button",id="addCart") Add to cart
    script(src="../search.js")