html 
    head 
        title #{book[0].bookname} Information
body 
    include ./userheaders     
    p
        | Book Name:#{book[0].bookname} 
        br 
        br
        | ISBN:#{book[0].isbn}
        br
        br
        |Genre:
        ul 
        each g in genre 
            li #{g.genre}
            br
        | Pages:#{book[0].pages}
        br
        br
        | Price:#{book[0].price} 
        br
        br
        | Stock:#{book[0].stock} 
        br
        br
        | Publisher:#{book[0].publisher} 
        br
        br
        button(type="button" id="aCart") Add to Cart
    