html 
    head 
        title Finances
body 
    include ./ownerheaders 
    h1 Financial Report
    br
    div#bookList
        each book in data
            div(id=book.isbn)
                p(id=book.isbn , href="/books/"+book.isbn) #{book.bookname}
                |
                |
                |
                #{book.expenses}
                |
                |
                |
                #{book.sales}
                |
                |
                |
                #{book.publisher_earnings}
                |
                |
                |
                #{book.profit}
                br
    br 
