html 
    head 
        title Finances
body 
    include ./ownerheaders 
    h1 Financial Report
    br
    div#bookList
        each book in data
            div(id=book.isbn)
                a(href="/books/"+book.isbn) #{book.bookname}
                |
                |
                |
                | Expense:#{book.expenses} ,
                |
                |
                |
                | Sales:#{book.sales} ,
                |
                |
                |
                | Publisher Earning: #{book.publisher_earnings} ,
                |
                |
                |
                | Profit:#{book.profit} 
                |
                |
                |
                if(book.stock < 20)
                    button(type="button",id=book.isbn,class="restock",stock='#{book.stock}',publisher='#{book.publisher}',style="display: hidden;") Restock: #{book.stock}
                br
    br
    script(src="../finances.js")
